
**/settings/Mainnet.toml
**/settings/Testnet.toml
**/deployments/default.testnet-plan.yaml
**/deployments/default.mainnet-plan.yaml
**/tests
**/sip009-nft
**/coverage
**/commission-trait
**/node_modules
.cache/**
history.txt
package-lock.json
package.json